<%- include('partials/_header') -%>

  <body>

    <%- include('partials/_navigation') -%>

      <!-- Page Header -->
      <header class="masthead" style="background-image: url('img/home-bg.jpg')">
        <div class="overlay"></div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
              <div class="site-heading">
                <h1>Clean Blog</h1>
              </div>
            </div>
          </div>
        </div>
      </header>

      <!-- Main Content -->
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">

            <% for(let i= 0 ; i < contents.length; i++){ %>
            <div class="post-preview">
              <a href="/articles/<%= contents[i]._id%>">
                <h2 class="post-title">
                  <%= contents[i].title %>
                </h2>
                <h3 class="post-subtitle">
                  <%= contents[i].descriptions.length > 50 ? contents[i].descriptions.slice(0,50) + "..." : contents[i].descriptions.slice(0,50)   %>
                </h3>
              </a>
              <p class="post-meta">Posted
                on <%= contents[i].dateCreated.toISOString().replace(/T/, ' ').replace(/\..+/, '') %>
              </p>
            </div>
            <hr>
         <% } %>

            <!-- Pager -->
            <div class="clearfix">

              <% if( current < pages){ %>
              <a class="btn btn-primary float-right" href="/?page=<%= (current*1)+1 %>">Older Posts &rarr;</a>
              <% } %>
              <% if( current > 1){ %>
     
              <a class="btn btn-primary float-left" href="/?page=<%= (current*1)-1 %>">&larr; New Posts </a>
              <% } %>
            </div>
          </div>
        </div>
      </div>

      <hr>

      <%- include('partials/_footer') -%>