<%- include('partials/_header') -%>

  <body>

    <%- include('partials/_navigation') -%>

      <!-- Page Header -->
      <header class="masthead" style="background-image: url('<%= content.slidePhoto %>')">
        <div class="overlay"></div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
              <div class="post-heading">
                <h1><%= content.title %></h1>

                <span class="meta">Posted
                  on <%= content.dateCreated.toISOString().replace(/T/, ' ').replace(/\..+/, '') %></span>
              </div>
            </div>
          </div>
        </div>
      </header>

      <!-- Post Content -->
      <article>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
              <p><%= content.descriptions %></p>
            </div>
            <div class="col-lg-8 col-md-10 mx-auto">
              <a href="/articles/edit/<%= content._id %>"type="button" class="btn btn-dark">Update Post</a>
              <button type="/dele" class="btn btn-warning" data-toggle="modal" data-target="#deleteModal">Delete Post</button>
            </div>
          </div>
        </div>
      </article>


      <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Delete Article</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Are you sure you want to delete article <mark><%= content.title %></mark>?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
              <a href="/articles/<%= content._id %>?_method=DELETE" type="button" class="btn btn-primary">Delete Article</a>
            </div>
          </div>
        </div>
      </div>

      <hr>
      <%- include('partials/_footer') -%>